<%- layout("layouts/boilerplate.ejs") %>
    <section class="chat">
        <aside class="chat-sidebar">
            <h3>Task Chat</h3>
        </aside>

        <div class="chat-main">
            <div class="messages">
                <div class="message left">I can do it today.</div>
                <div class="message right">Okay, accepted.</div>
            </div>

            <form class="chat-input">
                <input placeholder="Message…" />
                <button>Send</button>
            </form>
        </div>
    </section>