<nav class="navbar">
    <div class="nav-left">
        <a href="/tasks" class="brand">SkillNest</a>
    </div>

    <div class="nav-right">
        <a href="/tasks">Tasks</a>
        <a href="/tasks/new">Post</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>