<nav class="navbar" role="navigation" aria-label="Main navigation">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="/tasks" class="brand">
                <span>⚙️</span>
                <span>SkillNest</span>
            </a>
        </div>

        <ul class="navbar-nav">
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/tasks/new">Post</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>